#root {
  max-width: 100% auto;
  margin: auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.feed {
  display: grid;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  width: 300px; /* Tamaño fijo Instagram */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.card-content {
  margin: 'auto'; 
  display: 'block';
  width: 'fit-content';
}

.read-the-docs {
  color: #888;
}

.content-display { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  max-width: 75%; 
  margin: 0 auto;
  padding: 10px;
}

.content-display__picture { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; 
  max-width: 75%; 
  margin: 0 auto;
  padding: 0px;
}
