#root {
  max-width: 100% auto;
  margin: auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.feed {
  display: grid;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  width: 300px; /* Tamaño fijo Instagram */
  background: #fff3eb;
  /*border-radius: 10px;*/
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.card-productFrame:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}



.card-content {
  margin: 'auto'; 
  display: 'block';
  width: 'fit-content';
  padding: 15px;
}


.card-content__textName{
  background-color: #c2b39e;
  font-size: 30px;
  /*border-radius: 10px;*/
  color: #FFFFFC;
  font-style: italic;
}

.card-content__price{
  font-size: 25px;
}

.card-content__description{
  font-size: 20px;
}

.card-content__category{
  background-color: #423c35;
  font-size: 20px;
  /*border-radius: 10px;*/
  color: #FFFFFC;
}

.card-content__textName:hover {
  background-color: #5d4f40;
  }



.read-the-docs {
  color: #888;
}

.content-display {
  display: grid;
  position: 'absolute';
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}



.content-display__picture { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; 
  max-width: 75%; 
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}


.content-display__video {
  position: 'relative';
  gap: 5px;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.content-display__text {
  position: 'relative';
  gap: 5px;
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center;
  font-size: 100px ;
  background-color: 	#958f86;
  color: #FFFFFC;
}

.content-pattern-background {
  background-image: url("./assets/Imagenes/patterns/pattern3.png");
  background-size: cover;
}

.marca { position: absolute; bottom: 16%; left: 7%;
  font-family: Arial;
  font-weight: bold;
  font-size: 200px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(2, 2, 2, 0.8) ;
  
}

.marca2 { position: absolute; bottom: 1%; left: 17%;
  font-family: Arial;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(2, 2, 2, 0.8) ;
  
}

/* Para pantallas más pequeñas (como móviles) */
@media (max-width: 800px) {
  .content-display {
    grid-template-columns: 2fr; 
  }
  .content-display__picture {
    grid-template-columns: 2fr; 
  }
  .content-display__text{
    font-size: 50px;
  }
  .marca {
    font-size: 50px;
    bottom: 75%;
    left: 25%;
  }
  .marca2 {
    font-size: 40px;
    bottom: 70%;
    left: 20%;
  }
}

@media (max-width: 1000px) {
  .content-display {
    grid-template-columns: 2fr; 
  }
  .content-display__picture {
    grid-template-columns: 2fr; 
  }
  .content-display__text{
    font-size: 50px;
  }
  .marca {
    font-size: 50px;
    bottom: 75%;
    left: 25%;
  }
  .marca2 {
    font-size: 40px;
    bottom: 70%;
    left: 20%;
  }
}


/* Hola este codigo es para el panel */
.detail-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 251, 247);
  padding: 20px;
  box-shadow: 10px 1px 500px rgba(0, 0, 0, 1);
  border-radius: 0.05 px;
  z-index: 1000;
  width: 500px;
  text-align: center;
}

.detail-panel img {
  max-width: 100%;
  height: auto;
  padding: 5% ;
  margin-bottom: 10px;
}

.detail-panel button {
  margin-top: 10px;
  background: #ff8521;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}



.bg-light-logo{
  background-color: #FFFFFC;
}

.bg-light-body{
  background-color: #f2f2f2;
}


.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

.footer .row {
  margin: 10px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #ffc400;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}
