#root {
  max-width: 100% auto;
  margin: auto;
  text-align: center;
  background-color: #f8f5f2;
}

.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: transform 0.3s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.nav-item:hover {
  background-color: #d2a679;
  color: #fff;
}

.nav-item:hover a{
  color: #fff;
}

.feed {
  display: grid;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas */
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  width: 300px; /* Tamaño fijo Instagram */
  height: auto;
  background: #fdf8f4;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.card img{
  border-radius: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  clip-path: none !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #382e16;
  color: #FFFFFC;
}

.card-productFrame {
  background-color: #dac6ad54;
}

.card-productFrame:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}


.card-content {
  margin: 'auto'; 
  display: 'block';
  width: 'fit-content';
  padding: 10px;
  margin: 5px;
}


.card-content__textName{
  font-size: 30px;
  color: #5a3e2b;
  font-style: bold;
  text-transform: uppercase;
}

.card-content__price{
  font-size: 25px;
  font-weight: 600;
  color: #8a5a44;
}

.card-content__description{
  font-size: 25px;
  color: #7d6451;
  margin-top: 5px;
  font-weight: 600;
}

.card-content__category{
  font-size: 22px;
  background-color: #5a3e2b;
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  display: inline-block;
}

.card-content__size{
  background-color: #c2b39e;
  font-size: 22px;
  color: #FFFFFC;
  font-style: bold;
  font-weight: 600;
}

.card-content__textName:hover {
  /* background-color: #5d4f40; */
}



.read-the-docs {
  color: #888;
}


.content-display{
  display: grid;
  position: 'absolute';
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}

.content-display__blog{
  display: grid;
  position: 'absolute';
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}



.content-display__picture { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; 
  max-width: 75%; 
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
}


.content-display__video {
  position: 'relative';
  gap: 5px;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.content-display__text {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 4.5rem; /* Ajusté el tamaño para hacerlo más accesible y adaptable */
  background-color: #b0a99f; /* Color de fondo más suave */
  color: #fdfdfd; /* Blanco suave para mayor contraste */
  padding: 20px; /* Espaciado interno para darle más espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  display: inline-block; /* Hace que el contenido se ajuste al tamaño del texto */
  text-transform: uppercase; /* Texto en mayúsculas para un toque más elegante */
  letter-spacing: 2px; /* Espaciado entre letras para mejorar la legibilidad */
  transition: all 0.3s ease; /* Transición suave al pasar el ratón */
}

.content-display__text:hover {
  background-color: #8f8771; /* Cambia el fondo al pasar el ratón */
}


.video-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.video-text-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.video-text-overlay h2 {
  font-size: 100px;
}



.content-pattern-background {
  background-image: url("./assets/Imagenes/patterns/pattern3.png");
  background-size: cover;
}

.content-pattern-background2 {
  background-image: url("./assets/Imagenes/patterns/patternMosaic.jpg");
  background-size: cover;
}



.marca { position: absolute; bottom: 16%; left: 7%;
  font-family: Arial;
  font-weight: bold;
  font-size: 200px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(2, 2, 2, 0.8) ;
  transition: color 0.3s ease, transform 0.3s ease;
  
}

.marca:hover {
  color: #ffc400;
  transform: scale(1.01);
}

.marca2 { position: absolute; bottom: 1%; left: 17%;
  font-family: Arial;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(2, 2, 2, 0.8) ;
  transition: color 0.3s ease, transform 0.3s ease;
  
}

.marca2:hover {
  color: #ffc400;
  transform: scale(1.01);
}

/* Para pantallas más pequeñas (como móviles) */
@media (max-width: 800px) {
  .content-display {
    grid-template-columns: 2fr; 
  }
  .content-display__picture {
    grid-template-columns: 2fr; 
  }
  .content-display__text{
    font-size: 50px;
  }
  .marca {
    font-size: 50px;
    bottom: 75%;
    left: 25%;
  }
  .marca2 {
    font-size: 40px;
    bottom: 70%;
    left: 20%;
  }
}

@media (max-width: 1000px) {
  .content-display {
    grid-template-columns: 2fr; 
  }
  .content-display__picture {
    grid-template-columns: 2fr; 
  }
  .content-display__text{
    font-size: 50px;
  }
  .marca {
    font-size: 50px;
    bottom: 75%;
    left: 25%;
  }
  .marca2 {
    font-size: 40px;
    bottom: 70%;
    left: 20%;
  }
}


/* Hola este codigo es para el panel */
/* Estilos globales */

.detail-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 251, 247);
  padding: 5px;
  box-shadow: 10px 1px 500px rgba(0, 0, 0, 1);
  z-index: 1000;
  width: 25%;
  text-align: center;
}

.detail-panel_cards {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 251, 247);
  padding: 5px;
  box-shadow: 10px 1px 500px rgba(0, 0, 0, 1);
  z-index: 1000;
  width: 70%;
  text-align: center;
}

.detail-panel_product{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 251, 247);
  padding: 10px;
  box-shadow: 10px 1px 500px rgba(0, 0, 0, 1);
  z-index: 1000;
  width: 55%;
  text-align: center;
}


.product-info {
  display: flex;
  align-items: flex-start; /* Alineación a la parte superior */
  gap: 40px;
}

.product-image {
  margin: 5%;
  width: 50%;
  height: auto;
}

.details {
  margin: 5%;
  max-width: 450px; /* Controlamos el ancho de los detalles */
  text-align: left;
}

.product-name {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.product-description {
  font-size: 1.5rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.product-category {
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 15px;
}

.size-selector {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 15px;
}

.size-buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.size-button {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
}

.size-button:hover {
  background-color: #f2f2f2;
}

.size-button.selected {
  background-color: #3b2503;
  color: #fff;
  border-color: #333;
}

.product-price {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 20px;
}

.close-button {
  background-color: #333;
  color: #fff;
  padding: 14px 35px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
}

.close-button:hover {
  background-color: #444;
}


.bg-light-logo{
  background-color: #FFFFFC;
}

.bg-light-body{
  background-color: #f2f2f2;
}


.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

.footer .row {
  margin: 10px 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: #ffc400;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

/*aqui prueba blog*/

.blog-section {
  padding: 1.25rem;
  /*background-color: #f7f7f7;*/
  margin-top: 20px;
}

.blog-section .card {
  width: 100%; /* Se ajusta automáticamente */
  background-color: #fff3eb;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
}

.blog-section .card:hover {
  transform: scale(1.08);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.blog-section .card h3 {
  font-size: 1.05rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5rem;
}

.blog-section .card p.text-sm {
  font-size: 0.875rem;
  color: #7a7a7a;
  margin-bottom: 0.75rem;
}

.blog-section .card p.text-base {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.blog-section .card button {
  background-image: url('./assets/imagenes/patterns/goldBg.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el botón */
  background-position: center; /* Centra la imagen */
  color: rgb(78, 70, 16);
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.9s ease;
  border: none; /* Elimina el borde */
}

/* Estilo del botón al pasar el mouse por encima */
.blog-section .card button:hover {
  background-image: url('./assets/imagenes/patterns/goldBgg.jpg'); /* Cambiar la imagen de fondo al hover */
  background-size: cover;
  background-position: center;
  border-color: white; /* Agrega borde blanco al pasar el cursor */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Agrega sombra al hover */
}

/*.blog-section .card button:hover {
  background-color: #f59e0b; /* Amarillo más oscuro */
/*}*/

/* Asegurando que las tarjetas no se vean afectadas por otros estilos */
.blog-section .card-productFrame {
  /* No afectado por .card-productFrame en otro lugar */
}

.blog-section .grid {
  display: grid;
  grid-template-columns: 1fr; /* Una columna en dispositivos pequeños */
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .blog-section .grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en tabletas */
  }
}

@media (min-width: 1024px) {
  .blog-section .grid {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en escritorios */
  }
}

/*prueba 2*/

.blog-section .card {
  width: 100%;
  height: 250px; /* Ajusta la altura */
  background-size: cover;
  background-position: bottom;
  position: relative;
  overflow: hidden;
  font-size: 2.25rem;
}

.blog-section .card h3 {
  font-size: 2.25rem;
  font-weight: 600;
  color: white; /* Hace que el texto sea visible */
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
  padding: 8px 16px;
}


/*imagen principal de blog*/
.background-div {
  background-image: url('/Imagenes/productos/lineaD.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /*padding: 10px;*/
  margin: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(105, 99, 10);
}

/*h1 elegante*/
.elegant-title {
  font-family: "Playfair Display", serif; /* Fuente elegante */
  font-size: 3rem; /* Tamaño grande */
  font-weight: bold;
  color: #4a3f35; /* Marrón oscuro elegante */
  text-transform: uppercase; /* Letras mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras */
  text-align: center;
  
  background: linear-gradient(to right, #d4af37, #b8860b); /* Efecto dorado */
  -webkit-background-clip: text; /* Clip del fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace que el texto tome el gradiente */

  padding: 20px;
  margin: 20px 0;
  border-bottom: 3px solid #d4af37; /* Línea dorada abajo */

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra elegante */
}


.post-image {
  width: 70%;
  display: block;
  margin: 1rem auto; /* Margen arriba y abajo, centra horizontalmente */
}

img {
  border-radius: 0 !important;
  clip-path: none !important;
  mask-image: none !important;
  border: none !important;
}

div {
  border-radius: 0 !important;
  clip-path: none !important;
  mask-image: none !important;
  border: none !important;
}

html {
  scroll-behavior: smooth;
}
